*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all 0.5s;
  box-sizing: border-box;
}
.Loader{
  width: 100%;
  height: 100%;
  background-color: rgb(51,51,51);
}
.Container{
  margin: 0 auto 0 auto;
  width: 1170px;
  padding: 0px 1px 1px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
}
.App{
  text-align: center;
  min-height: 300px;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Content{
  background-color: silver;
}
.Content .Container{
  margin: 0 auto 0 auto;
  width: 1170px;
  padding: 0px 1px 1px 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgb(51,51,51);
}
.TitleBlock{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
  background-color: rgb(51,51,51);
  color: white;
  width: 100%;
}
.TitleBar{
  display: flex;
  align-self: start;
  flex-direction: column;
}
.TitleBar h1{
  padding: 6px 0 0 6px;
  font-weight: normal;
}
.TitleBar h1 span{
  font-weight: 100;
  color: silver;
  font-size: x-large;
}

.Subtext{
  display: flex;
  flex-direction: row;
}
.Subtext div{
  border-right: solid silver 1px;
  margin: 5px 0px 5px 5px;
  padding-right: 5px;
  font-size: smaller;
  color: silver;
}
.Subtext div a{
  color: silver;
  text-decoration: none;
}
.Subtext div a:hover{
  color: dodgerblue;
  text-decoration: underline;
}

.Subtext div:nth-of-type(3){
  border-right: none;
}
.RatingsWrapper{
  display: flex;
  flex-direction: row;
}
.RatingsWrapper>div{
  display: flex;
  flex-direction: column;
}
.RatingsWrapper>div div{
  display: flex;
  flex-direction: row;
}
.RatingsWrapper>div div p:first-child{
  font-size: xx-large;
}
.RatingsWrapper>div div p:nth-of-type(2){
  display: flex;
  align-self: flex-end;
  color: silver;
}
.RatingsWrapper>div>p:hover{
  color: dodgerblue;
  text-decoration: underline;
}
.RatingsWrapper svg{
  margin-top: 9px;
}
.SlateWrapper{
  display: flex;
  flex-direction: row;
  align-self: center;
}
.SlateWrapper img{
  padding: 20px;
}
.Overview{
  display: flex;
  flex-direction: column;
}
.Overview h1{
  color: silver;
  font-size: x-large;
  font-weight: lighter;
  align-self: center;
  padding: 20px 60px 20px 60px;
}
.CastCrew{
  color: silver;
  font-size: x-large;
  font-weight: lighter;
  padding: 20px 60px 20px 60px;
}
.CastCrew div:nth-of-type(3) a{
  color: silver;
  text-decoration: none;
}
.CastCrew div:nth-of-type(3) a:hover{
  color: dodgerblue;
  text-decoration: underline;
}
header{
  background: #191919;
  color: #fff;
  font: 10pt Verdana, Arial, sans-serif;
  height: 60px;
  padding: 0;
  position: relative;
  width: 100%;

}
.home{
  width: 20%;
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.search{
  width: 60%;
  align-self: center;
  margin-top: 0px;
}
.search input{
  margin: 10px 0 0 0;
  width: 100%;
  height: 30px;
  border: none;
  position: relative;
  right: 0px;
  bottom: 0px;
  padding-left: 5px;

}

.personal{
  width: 20%;
  display: flex;
  align-self: flex-start;
  flex-direction: row;
  justify-content: space-around;
}
#suggestSearch{
  display: block;
  width: 100%;
  background-color: white;
}
#suggest a{
  display: flex;
  flex-direction: row;
  text-decoration: none;
  font-weight: bold;
  color: #136CB2;
}
#suggest {
  border-bottom: solid lightgrey 1px;
}
#suggest:hover{
  background-color: lightgray;
}
.suggestionLabel{
  display: flex;
  flex-direction: column;
}
.suggestionLabel span:nth-of-type(2){
  text-decoration: none;
  font-weight: normal
}

#suggest img{
  margin: 2px 0 2px 0;
  width: 40px;
  height: 54px;
}

button{
  margin: 12px 5px 5px 5px;
  border: none;
  border-radius:10px;
  height: 35px;
  background-color: rgb(51,51,51);
  width: 100px;
}
button:hover{
  background-color: gray;
}

button a{
  margin: 3px;
  padding: 3px;
  color: white;
  font-size: 14px;
  text-decoration: none;
}
iframe{
  width: 604px;
  height: 340px;
  padding: 20px;
}