*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all 0.5s;
}
.Container{
  margin: 0 auto 0 auto;
  width: 1170px;
  padding: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.App {
  text-align: center;
  min-height: 300px;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.TitleBlock{

}
header{
  background: #191919;
  color: #fff;
  font: 10pt Verdana, Arial, sans-serif;
  height: 60px;
  padding: 0;
  position: relative;
  width: 100%;

}
.home{
  width: 20%;
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-around;


}
.search{
  width: 60%;
  align-self: center;
}
.search input{
  margin: 5px 5px 0 5px;
  width: 100%;
  height: 30px;
}

.personal{
  width: 20%;
  display: flex;
  align-self: flex-start;
  flex-direction: row;
  justify-content: space-around;
}
#suggestSearch{
  display: block;
  width: 100%;
  background-color: white;
  margin: 0 0 0 5px;
  padding: 0;
}
#suggest a{
  display: flex;
  flex-direction: row;
  text-decoration: none;
  font-weight: bold;
  color: #136CB2;
}
#suggest {
  border-bottom: solid lightgrey 1px;
}
#suggest:hover{
  background-color: lightgray;
}
.suggestionLabel{
  display: flex;
  flex-direction: column;
}
.suggestionLabel span:nth-of-type(2){
  text-decoration: none;
  font-weight: normal
}

#suggest img{
  margin: 2px 0 2px 0;
  width: 40px;
  height: 54px;
}

button{
  margin: 5px;
  border: none;
  border-radius:10px;
  height: 49px;
  background-color: darkslategray;
  width: 100px;
}
button:hover{
  background-color: gray;
}

button a{
  margin: 3px;
  padding: 3px;
  color: white;
  font-size: 14px;
  text-decoration: none;
}